body {
  padding: 10px;
  background-color: #f5f5f5;
  color: #333;
  overflow: auto;
}

hr {
  margin-top: 4px;
  margin-bottom: 8px;
}

.line-row {
  margin-bottom: 20px;
}

.line-cell {
  display: flex;
  align-items: center;
}

.line-label h4 {
  margin: 0px;
}


#report {
  margin-top: 10px;
  padding: 10px;
  background: #fff;
  border-width: 1px;
  border: 1px solid #dee2e6;
  border-radius: .375rem;
}


#new-table th:not(.footer) {
  cursor: pointer;
}

#new-table th:hover:not(.footer) {
  background-color: #f8f9fa;
}

#new-table tbody tr:hover {
  background-color: #f8f9fa;
}
